@{
    ViewBag.Calc = 25.0 / 6;
    ViewData["Title"] = "Index";
}

@model BooksViewModel 

<h3 class="m-4">Welcome to the Bonzai Bookstore, a collection of Spencer Hilton's favorite books!</h3>
<div class="d-flex flex-column justify-content-center align-items-center mt-4">
    @foreach (Book b in Model.Books)
    {
        <partial name="BookSummary" model="b" />
    }  
    <div page-something="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
                                                                   page-class="btn" page-class-normal="btn-light"
                                                                   page-class-selected="btn-info" class="btn-group pull-right m-1"></div>
</div>

    


