@page
@model Mission09_ckearl2.Pages.OrderCompleted

@{

}

<div class="text-center">
    <h2>Thank you for your order!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>